.center {
  width: 50%; 
  margin: 0px auto;
}
.container {
  background: black;
  display: inline-block;
  border: 5px solid black;

}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 80px);
  grid-template-rows: repeat(3, 80px);
  grid-gap: .5%;
}

.input {
	width: 50%; 
	height: 50%;
} 

.cell {
   /* center the cell content */
  justify-content: center;
  align-items: center;
  display: flex;
  font-family: Arial;
  font-size: 3rem;
  font-weight: bold;
  background: white;
}

.buttons {
  align-items: center;
  margin: 3% 
}

.infoButton {
  width: 40%; 
  margin: 3% auto;
}

.puzzleheading {
text-align: center;
}

.welcome {
text-align: center;
}

.moves {
  text-align: center;
  display: inline-block;
}

.movesp {
  align-items: center;
}
