<html>

<head>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
	<link rel="stylesheet" href="../public/home.css">
</head>

<body>
	<div class="container main-container">
		<h1 class="puzzleheading">Silding Puzzle</h1>
		<p class="welcome">
			Welcome to the guest endpoint of the API<br>
		</p>
		<p class="welcome">
			The bot will solve the puzzle for you, but the input is
			still manual. Thanks!
		</p>
		<img src="unnamed.png"/>
		<p>The numbers should be between 0 to 8 where 0 is the blank box</p>
		<div class="container row grid-container">
			<div class="container grid">
				<div class="container row">
					<div class="container col-4"><input id="1" class="input"></div>
					<div class="container col-4"><input id="2" class="input"></div>
					<div class="container col-4"><input id="3" class="input"></div>
				</div>
				<div class="container row">
					<div class="container col-4"><input id="4" class="input"></div>
					<div class="container col-4"><input id="5" class="input"></div>
					<div class="container col-4"><input id="6" class="input"></div>
				</div>
				<div class="container row">
					<div class="container col-4"><input id="7" class="input"></div>
					<div class="container col-4"><input id="8" class="input"></div>
					<div class="container col-4"><input id="9" class="input"></div>
				</div>
			</div>
		</div>

		<div class="container buttons">
			<button class="btn btn-secondary solve" onclick="guestSolve()">Solve!</button>
			<a href="/login"><button class="btn btn-secondary login">Login</button></a>
		</div>
		<div class="githubButton">
			<a href="https://github.com/Kartik33/silding_puzzle"><button type="button" class="btn btn-secondary infoButton">Source code on Github</button></a>
		</div>
		<div class="container moves">
			<p>Moves</p>
			<p id="solution"></p>
		</div>

	</div>

	<script>
		function getboard() {
			var i;
			var board = document.getElementById('1').value;
			for (i = 2; i < 10; i++) {
				temp = document.getElementById('' + i).value;
				board = board + "," + temp;
			};
			return board;
		}
		function guestSolve() {
			var board = getboard()
			console.log(board)
			var xhttp = new XMLHttpRequest();
			xhttp.onreadystatechange = function () {
				if (this.readyState == 4 && this.status == 200) {
					var resp = JSON.parse(this.responseText);
					document.getElementById("solution").innerHTML = resp["moves"];
				}
			};
			xhttp.open("GET", "/solve?board=" + board);
			xhttp.send(board);
		}
	</script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
		crossorigin="anonymous"></script>
</body>

</html>
